<div class="main-container">
  <div>
    <app-universal-counter
      [counterValue]="radioMessage"
      [fromService]="fromService"
      class="counter-container"
    ></app-universal-counter>
    <app-transmission-log
      [transmissionLogs]="transmissionLogs$ | async"
    ></app-transmission-log>
  </div>
  <app-man-made-counter
    [fromService]="fromService"
    class="counter-container"
  ></app-man-made-counter>
  <app-alien-counter class="counter-container"></app-alien-counter>
</div>
