/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Red Hat Mono", monospace;
}

.counter {
  display: flex;
  justify-content: center;
  color: royalblue;
  font-weight: 600;
  font-size: 3rem;
}
